---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'DaisyWoont.nl | Voor al jouw woontips!',
  description = 'Bij DaisyWoont.nl kun je terecht voor alle tips en trends op het gebied van wonen. Op zoek naar uniek interieur? Dan zit je hier goed.',
} = Astro.props;
---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href="/images/cropped-Frame-32x32.png" />
    <title>{title}</title>
  </head>
  <body>
    <a href="#main" class="sr-only">Ga naar de inhoud</a>
    <slot />
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
